* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

body {
font-family: 'source sans pro', helvetica, arial, sans-serif;
}

.bolder {
    font-weight: 700;
}

.amp {
    font-family: 'Baskerville', 'Palatino', Georgia, serif;
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
}

#intro {
    background: #373B44;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    padding: 7% 0% 7% 0%;
    margin-bottom: %;
}

.intro-container {
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    font-size: 24px; 
    color:white;
    font-weight:400;
}

h2 {
    font-weight: 700;
    font-size: 38px;
    color: #717171;
    margin-top: 60px;
    text-align: left;
}

.icons {
    margin-top: 4%;
    margin-left: 3%;
}

a.twitter {
    font-family: 'social';
    font-size: 35px;
    color: #d0d0d0;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    margin-right: 10%;
}

a.twitter:hover {
    color: #22abf3;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

a.dribbble {
    font-family: 'social';
    font-size: 35px;
    color: #d0d0d0;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    margin-right: 10%;
}

a.dribbble:hover {
    color: #ea4c89;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

a.instagram {
    font-family: 'social';
    font-size: 35px;
    color: #d0d0d0;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    margin-right: 10%;
}

a.instagram:hover {
    color: #cc9f74;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

a.rdio {
    font-family: 'social';
    font-size: 35px;
    color: #d0d0d0;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    margin-right: 10%;
}

a.rdio:hover {
    color: #006ed2;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#about-project {
    background-color: #BD5532;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:40px;
}


h2 {
    font-weight: 700;
    font-size: 38px;
    color: white;
    margin-top: 60px;
    text-align: left;
}

h3 {
    color: white;
    font-weight: 600;
    margin-top: 6px;
    font-size: 24px;
    line-height: 32px;  
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 25px;
    text-align: justify;
}

.icon {
    margin-left: 10px;
    font-size: 28px;
}

#blog {
    background-color: #E1B866;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:40px;
}

.link {
    text-decoration:none;
    font-weight:700;
    color:white;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.link:hover {
    color:#395575;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

#repository {
    background-color: #84AD9D;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:40px; 
}

.available {
    color:#395575;
}

#about-me {
    background-color: #BD5532;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:40px;
}

#footer{
	background-color: #373B44;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom:20px;
}

h4{
	color: white;
    font-weight: 600;
    margin-top: 24px;
    font-size: 20px;
    line-height: 20px;  
    font-weight: 400;
    text-align: center;
}

/* Mobile Styles */

@media screen and (max-width: 620px) {


    a.twitter {
    font-family: 'social';
    font-size: 35px;
    color: #d0d0d0;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    margin-right: 15%;
    }

    a.dribbble {
    font-family: 'social';
    font-size: 35px;
    color: #d0d0d0;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    margin-right: 15%;
    }

    a.instagram {
    font-family: 'social';
    font-size: 35px;
    color: #d0d0d0;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    margin-right: 15%;
    }

    a.rdio {
    font-family: 'social';
    font-size: 35px;
    color: #d0d0d0;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    margin-right: 15%;
    }

    .container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    }

    .intro-container {
    text-align: left;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    }

    h2 {
    font-weight: 700;
    font-size: 38px;
    color: white;
    margin-top: 60px;
    text-align: center;
    }

    h3 {
    color: white;
    font-weight: 600;
    margin-top: 6px;
    font-size: 24px;
    line-height: 32px;  
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 25px;
    text-align: left;
    }

h4{
	color: white;
    font-weight: 600;
    margin-top: 24px;
    font-size: 20px;
    line-height: 20px;  
    font-weight: 400;
    text-align: left;
}

    .icons {
    margin-top: 4%;
    margin-left: 16%;
    }

}
